<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="css/1.css">
  <script type='text/javascript' src="js/jquery.js"></script>
  <script type='text/javascript' src="js/test.js"></script>
</head>
<body>
<div class="head">
  <h3>head</h3>
</div>
<div class="centext">
  <h2>minddle</h2>
</div>
<div class="footer">
  <h3>footer</h3>
</div>
<p id="demo"></p>
</body>
</html>